VITE_SUPABASE_URL=https://supabase_url.co
VITE_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key

VITE_CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=cloudinary_upload_preset
VITE_CLOUDINARY_FOLDER=cloudinary_folder
